<a href="https://colab.research.google.com/github/almemanuel/machine-learning/blob/main/notebooks/01_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Machine Learning

It is a process of training an algorithm/model

From a set of data, it makes it possible to obtain new information

## Example:
Algorithm that takes a color and returns which fruit has that color

In [ ]:
def get_a_fruit_with_this_color(color:str) -> str:
    """
    Function that returns a fruit that is of the input color

    Entries:
        color (str): desired color
    Return:
        (str): fruit with the desired color
    """
    if color == 'orange':
        return 'orange'
    elif color == 'yellow':
        return 'banana'
    elif color == 'red':
        return 'strawberry'
    else:
        return 'any fruit'

In [ ]:
get_a_fruit_with_this_color('orange')

'orange'

In [ ]:
get_a_fruit_with_this_color('yellow')

'banana'

Generally, in Machine Learning we do not write the functions, but rather, we provide the data and the algorithm itself does the modeling

In [ ]:
fruits = pd.DataFrame(
    {
        'color': ['green', 'green', 'orange', 'orange', 'orange', 'orange', 
                  'orange', 'yellow', 'yellow', 'red', 'red', 'red', 'red',
                  'red', 'red'],
        'height': [7, 7, 8, 9, 10, 8, 9, 12, 13, 3, 4, 5, 3, 2, 2],
        'classification': ['green apple', 'green apple', 'orange', 'tangerine',
                           'orange', 'tangerine', 'tangerine', 'banana',
                           'banana', 'strawberry', 'apple', 'strawberry',
                           'strawberry', 'strawberry', 'strawberry']
    }
)

fruits

     color  height classification
0    green       7    green apple
1    green       7    green apple
2   orange       8         orange
3   orange       9      tangerine
4   orange      10         orange
5   orange       8      tangerine
6   orange       9      tangerine
7   yellow      12         banana
8   yellow      13         banana
9      red       3     strawberry
10     red       4          apple
11     red       5     strawberry
12     red       3     strawberry
13     red       2     strawberry
14     red       2     strawberry

Within the Machine Learning field, there are classification and regression algorithms, among many others

## What is the difference between Machine Learning and AI?

Machine Learning is one branch of Artificial Intelligence. Therefore, Artificial Intelligence encompasses the entire field of Machine Learning, but Machine Learning does not encompass every type of Artificial Intelligence